body {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    line-height: 1.8;
    color: #818181;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
}

.crestLogo {
    margin-left: 74px;
    max-width: 5%;
    height: auto;
}

#career li {
    list-style: none;
}

#career {
    padding-left: 75px;
}

#careerItems {
    padding-left: 50px;
}

#careerItems h3 {
    margin-top: -28px;
}

#glyphy .glyphicon {
    margin-top: 50%;
    font-size: 250px;
    color: rgb(0, 0, 0, 0.9);
}

.emailContact {
    max-width: 500px;
}

#headerh2:before {
    content: " ";
    top: 50%;
    height: 2px;
    width: 45px;
    margin: 6px 10px;
    display: inline-block;
    zoom: 1;
    background: #333;
}

#headerh2:after {
    content: " ";
    top: 50%;
    height: 2px;
    width: 45px;
    margin: 6px 10px;
    display: inline-block;
    zoom: 1;
    background: #333;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #fff;
    color: #202020;
    padding: 100px;
    margin-top: 50px !important;
    margin-bottom: -100px !important;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #202020;
    font-size: 50px;
}

.logo {
    color: #202020;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.thumbnail a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);
}

.photogImg {
    max-width: auto;
    height: 500px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #ffffff;
}

.carousel-indicators li {
    border-color: #ffffff;
}

.carousel-indicators li.active {
    background-color: #ffffff;
}

.carousel-inner img {
    margin: auto;
    max-width: auto;
    height: 500px;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #202020;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #202020;
    background-color: rgb(153, 153, 153) !important;
    color: #202020;
}

.panel-heading {
    color: #fff !important;
    background-color: rgb(80, 79, 79) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: rgb(80, 79, 79) !important;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: rgb(99, 99, 99);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #202020 !important;
}

.navbar-nav li.active a {
    color: #202020 !important;
    background-color: #fff !important;
}

.navbar-nav li a:hover {
    /* color: #fff !important; */
    text-decoration: underline;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #202020;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

#connect a {
    color: #000000b0;
}

#contacty {
    margin-left: -300px;
}

hr {
    margin-top: 200px;
    margin-bottom: 200px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}